body {
  background-image: url("https://bizweb.dktcdn.net/100/438/408/files/anh-may-dep-yodyvn-1.jpg?v=1683598386315");
  background-size: cover;
  /* Cover the entire background */
  background-position: center;
  /* Center the background */
  background-attachment: fixed;
  /* Fixed background position */
  color: #000;
  /* Change text color to black */
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.header p {
  font-size: 20px;
}

.container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-weather,
.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-weather,
.forecast,
.forecast-day {
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.container:hover .current-weather,
.container:hover .forecast,
.forecast-day:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.current-weather {
  text-align: center;
  margin-bottom: 20px;
}

.current-weather .temperature {
  font-size: 25px;
}

.current-weather .description {
  font-size: 20px;
}

.forecast {
  justify-content: space-between;
}

.forecast-day {
  text-align: center;
  margin: 0 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Navbar styles */

.header-nav {
  display: flex;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 150px;
  height: 90px;
}

.search-box {
  flex-grow: 1;
  margin-left: 20px;
  display: flex;
  max-width: 500px;
}

.search-box input[type="text"] {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.search-box button {
  padding: 8px 15px;
  border: none;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.navigation ul {
  list-style-type: none;
  display: flex;
}

.navigation ul li {
  margin-right: 20px;
}

.navigation ul li:last-child {
  margin-right: 0;
}

.navigation ul li a {
  color: #fff;
  text-decoration: none;
}

.navigation ul li a:hover {
  text-decoration: underline;
}

/* Footer styles */
.footer {
  position: fixed;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.footer p {
  margin: 0;
}
.detail-tab {
  background-color: rgba(32, 5, 156, 0.1); /* MĂ u ná»n xanh nháº¹ */
  border: 1px solid #29055c; /* ÄÆ°á»ng viá»n */
  padding: 10px; /* Khoáº£ng cĂ¡ch ná»™i dung */
  position: absolute; /* Äáº·t vá»‹ trĂ­ tuyá»‡t Ä‘á»‘i */
  top: calc(100% + 10px); /* Hiá»ƒn thá»‹ á»Ÿ dÆ°á»›i vĂ  cĂ¡ch top 10px */
  left: 50%; /* ChĂ­nh giá»¯a ngang */
  transform: translateX(-50%); /* Canh giá»¯a ngang */
  display: none; /* áº¨n ban Ä‘áº§u */
  width: 200px; /* Äá»™ rá»™ng */
}
