body {
  background-image: url("https://bizweb.dktcdn.net/100/438/408/files/anh-may-dep-yodyvn-1.jpg?v=1683598386315");
  background-size: cover;
  /* Cover the entire background */
  background-position: center;
  /* Center the background */
  background-attachment: fixed;
  /* Fixed background position */
  color: #000;
  /* Change text color to black */
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.header p {
  font-size: 20px;
}

.current-weather {
  text-align: center;
  /* Center the content */
  margin-bottom: 20px;
}

.current-weather .temperature {
  font-size: 64px;
}

.current-weather .description {
  font-size: 24px;
}

.forecast {
  display: flex;
  justify-content: center;
}

.forecast {
  display: flex;
  justify-content: center;
}

.forecast-day {
  text-align: center;
  margin: 0 10px;
  /* Adjust margin for spacing between days */
}

.forecast-day .date {
  font-size: 18px;
  margin-bottom: 10px;
}

.forecast-day .info {
  border: 1px solid #ccc;
  /* Add border for better separation */
  padding: 10px;
  /* Add padding for better spacing */
}

.forecast-day .info div {
  margin-bottom: 5px;
  /* Adjust margin for spacing between weather info */
}

.forecast-day .temperature {
  font-size: 18px;
}

.forecast-day .description {
  font-size: 16px;
}

/* Navbar styles */
.header-navbar {
  display: flex;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 150px;
  height: 90px;
}

.search-box {
  flex-grow: 1;
  margin: 0 20px;
  display: flex;
  max-width: 500px;
}
.search-box input[type="text"] {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
}
.search-box button {
  padding: 8px 15px;
  border: none;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
.navigation ul {
  list-style-type: none;
  display: flex;
}

.navigation ul li {
  margin-right: 20px;
}

.navigation ul li:last-child {
  margin-right: 0;
}

.navigation ul li a {
  color: #fff;
  text-decoration: none;
}

.navigation ul li a:hover {
  text-decoration: underline;
}
/* Footer styles */
.footer {
  position: fixed;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.footer p {
  margin: 0;
}