body{
    background-image: url('https://edgecast-img.yahoo.net/mysterio/api/4f0247304ad5d3d3d703f5a328fd1a127b1fae4f3bba681ae18d4b0e09d760c2/ymweather/resizefill_w1280_h720;quality_80;format_webp/https://s3.us-east-2.amazonaws.com/weather-flickr-images/farm8/7388/9427127201_ef1826e9af_h');
    color: white;
    font: 13px / 1.3 "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    text-rendering: optimizeLegibility;
  }
  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
  }
  h2{
      margin: 0;
      font-size: 1.12em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      unicode-bidi: isolate;
      transition-duration: .3s;
  }
  .header-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-width: 0;
    max-width: 100px;
    box-sizing: border-box;
    transition: margin .2s ease-out, opacity .15s linear .2s;
    opacity: 1;
  }
  .logo{
    width: 20px;
    height: 20px;
  }
  .search-box{
    display: flex;
    width: 50px;
    min-width: 50px;
  }
  .btn_one{
    border: 1px solid #188fff;
    border: 1px solid var(--yb-smurfette);
    border-radius: 4px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.43;
    font-size: 14px;
    padding-left: 80px;
    animation: none;
  }
  
  